#page-about {
  height: 100vh;
}

#page-about .content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#page-about .content main {
  flex: 1;
  max-width: 1000px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#page-about .content header {
  margin: 48px 0 0;
  display: inline-flex;
}

#page-about .content main .text {
  /* border: 1px solid black; */
  flex: 1;
  margin-left: 20px;
}


#page-about .content main h1 {
  font-size: 45px;
  color: var(--title-color);
}

#page-about .content main p {
  font-size: 16px;
  margin-top: 24px;
  line-height: 38px;
}

#page-about .content main .link-button {
  width: 100%;
  max-width: 360px;
  height: 72px;
  background: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;

  display: flex;
  align-items: center;
  overflow: hidden;

  margin-top: 40px;
}

#page-about .content main .link-button span {
  display: block;
  background: rgba(0, 0, 0, 0.08);
  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}


#page-about .content main .link-button span svg {
  color: #FFF;
  width: 20px;
  height: 20px;
}

#page-about .content main .link-button strong {
  flex: 1;
  text-align: center;
  color: #FFF;
}

#page-about .content main .link-button:hover {
  background: #DC70A3;
}

#page-about .content main .text {
  flex: 1;
  text-align: justify;
  margin-left: 20px;
  margin-bottom: 100px;
}

#page-about .content main .examples {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

@media(max-width: 900px) {
  #page-about .content {
    align-items: center;
    text-align: center;
  }

  #page-about .content header {
    margin: 48px auto 0;
  }

  #page-about .content main {
    align-items: center;
    flex-direction: column;
  }

  #page-about .content main h1 {
    font-size: 42px;
  }

  #page-about .content main p {
    font-size: 16px;
  }
}
